<mat-form-field *ngIf="currencies as availableCurrencies">
  <mat-select  (selectionChange)="changeCurrency($event)"  [(value)]="currency"  placeholder="Currency">
      <mat-option *ngFor="let cur of availableCurrencies" [value]="cur.code">
          {{cur.displayName}}
        </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
    <input matInput [(min)]="minDateFrom" [(max)]="maxDateFrom" (dateChange)="changeDateFrom($event)" [(value)]="dateFrom" [matDatepicker]="dateFromInput" placeholder="Choose a dateFrom">
    <mat-datepicker-toggle matSuffix [for]="dateFromInput"></mat-datepicker-toggle>
    <mat-datepicker #dateFromInput disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
      <input matInput [(min)]="minDateTo" [(max)]="maxDateTo" (dateChange)="changeDateTo($event)" [matDatepicker]="dateToInput" [(value)]="dateTo" placeholder="Choose a dateTo">
      <mat-datepicker-toggle matSuffix [for]="dateToInput"></mat-datepicker-toggle>
      <mat-datepicker #dateToInput disabled="false"></mat-datepicker>
    </mat-form-field>