<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <app-picker (currencyChanged)="onCurrencyChanged($event)" (dateFromChanged)="onDateFromChanged($event)"
    (dateToChanged)="onDateToChanged($event)"></app-picker>

  <mat-tab-group dynamicHeight>
    <!-- C1-->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>show_chart</mat-icon> Chart
          </ng-template>
          <app-chart [exchangeData]="exchangeData" [baseCurrency]="baseCurrency"></app-chart>
    </mat-tab>
    <!-- C2 -->
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>table_chart</mat-icon> table
          </ng-template>
          <app-table [exchangeData]="exchangeData" [baseCurrency]="baseCurrency"></app-table>          
    </mat-tab>
  </mat-tab-group>




</div>