<header>
    <div class="header-section">
        <div class="header-headline">
            <h1>Angular Charts</h1>
            <h2>Simple Angular Application </h2>
        </div>
        <div class="header-icons">
            <a href="https://valor-software.com/ng2-charts/">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" />
                <span>angular</span>
            </a>
            <a href="https://valor-software.com/ng2-charts/">
                <img src="http://www.chartjs.org/img/chartjs-logo.svg" />
                <span>Material</span>
            </a>
            <a href="https://valor-software.com/ng2-charts/">
                <img src="http://www.chartjs.org/img/chartjs-logo.svg" />
                <span>ng2-charts</span>
            </a>
        </div>
    </div>


</header>
